<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grajava"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Start"
            android:label="@string/title_activity_gra_java" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="com.grajava.GraJava"></activity>
        <activity android:name="com.grajava.angielski1"></activity>
        <activity android:name="com.grajava.angielski2"></activity>
        <activity android:name="com.grajava.angielski3"></activity>
        <activity android:name="com.grajava.angielski3a"></activity>
        <activity android:name="com.grajava.francuski1"></activity>
        <activity android:name="com.grajava.francuski2"></activity>
        <activity android:name="com.grajava.francuski3"></activity>
        <activity android:name="com.grajava.francuski3a"></activity>
        <activity android:name="com.grajava.polski1"></activity>
        <activity android:name="com.grajava.polski2"></activity>
        <activity android:name="com.grajava.polski3"></activity>
        <activity android:name="com.grajava.polski3a"></activity>
        <activity android:name="com.grajava.wybor"></activity>
    </application>

</manifest>
